################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/*/bin
/*/obj
/API/ctempinternal-nlog-AspNetCore.txt
